@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    /* color:white; */
    font-family: 'Roboto', sans-serif;
    /* text-align: center; */
    padding:20px;
    margin:0;
    height:100vh;
    display: flex;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1552566626-52f8b828add9?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;



    overflow-y: hidden; /* Isso vai remover a barra de rolagem vertical DO CONTEÚDO do restaurante */
    /* Se precisar remover a horizontal também */
    overflow-x: hidden;
    /* Ou, para remover ambas */
    overflow: hidden;

}


.container{
    width:700px;
    padding: 20px;
    background-color: rgba(244, 244, 244, 0.8);
    border-radius:12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1{
    font-size: 30px;
    color: rgb(124, 81, 1);
    
}

.menu, .quantidade{
    margin: 10px;
}


select, input{
    padding:10px;
    font-size: 12px;
    margin-left: 10px;
}

button{
    padding:15px;
    font-size:12px;
    background-color: rgb(124, 81, 1);
    color: antiquewhite;
    border:none;
    cursor:pointer;
}